{% extends 'base.html' %}

{% block title %}
Moxart | Coin
{% endblock %}

{% block main %}
{% if coin_single %}
<div class="container">
    <div class="table-responsive coin-single-rate text-center">
        <div class="text-center">
            <span class="badge badge-pill badge-dark">Single Rate</span>
        </div>
        <br>
        <table class="table table-hover table-borderless table-rate table-coin">
            <thead>
            <tr>
                <th>Name</th>
                <th>Price (IRR)</th>
                <th>Change</th>
                <th><i class="fas fa-chevron-down"></i> Min</th>
                <th><i class="fas fa-chevron-up"></i> Max</th>
                <th>Updated At</th>
            </tr>
            </thead>
            <tbody>
            {% for item in coin_single %}
            <tr>
                <td class="title">{{ item.title }}</td>
                <td class="live_price">{{ item.price }}</td>
                <td class="change">{{ item.change }}</td>
                <td class="min">{{ item.min }}</td>
                <td class="max">{{ item.max }}</td>
                <td class="time updated">{{ item.updated_at }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="container more-currency">
            <div class="row">
                <div class="col text-center">
                    <a class="btn btn-outline-light btn-more-rates moxart-button" href="{{ url_for('bp_coin.coin_all') }}">More
                        Rates</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}