{% extends 'base.html' %}

{% block title %}
    Moxart | All Currencies
{% endblock %}

{% block main %}
{% if currency %}
    <div class="table-responsive">
        <table class="table table-hover table-borderless table-rate table-currency">
            <thead>
            <tr>
                <th>State</th>
                <th>Price</th>
                <th>Country</th>
                <th>Change</th>
                <th><i class="fas fa-chevron-down"></i> Min</th>
                <th><i class="fas fa-chevron-up"></i> Max</th>
                <th><i class="fas fa-clock"></i> Time</th>
            </tr>
            </thead>
            <tbody>
            {% for item in currency %}
                <tr>
                    <td class="state">
                        {% if item.alpha2 == 'EU' %}
                            <img src="{{ url_for('static', filename='images/flags/24x24/') }}{{ item.alpha2 | lower }}{{ '.png' }}" alt="European Union {{ item.alpha3  }}">
                        {% else %}
                            <img src="{{ url_for('static', filename='images/flags/24x24/') }}{{ item.alpha2 | lower }}{{ '.png' }}" alt="{{ item.country }} {{ item.alpha3 }}">
                        {% endif %} {{ item.alpha3 }}
                    </td>
                    <td class="live_price">{{ item.price }}</td>
                    <td class="country">{% if item.alpha3 == 'EUR' %} {{ 'European Union' }} {% else %} {{ item.country }} {% endif %}</td>
                    <td class="change">{{ item.change }}</td>
                    <td class="min">{{ item.min }}</td>
                    <td class="max">{{ item.max }}</td>
                    <td class="time updated">{{ item.updated_at }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
{% endblock %}